/* =Reset
-------------------------------------------------------------- */
body, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
}

/* =Force HTML5 elements block
-------------------------------------------------------------- */
header,
nav,
article,
footer,
address {
	display: block;
}

/* =Links
-------------------------------------------------------------- */
a {
	text-decoration: none;
	color: #d90000;
}

a:hover {
	text-decoration: underline;
}

/* =Content
-------------------------------------------------------------- */
h3 {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: normal;
	font-size: 20px;
	font-size: 2.0rem;
	margin: 10px 0 10px 0;
	margin: 1rem 0 1rem 0;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: normal;
	font-size: 12px;
	font-size: 1.2rem;
	margin: 10px 0 0 0;
	margin: 1rem 0 0 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0 10px 0;
	margin: 1rem 0 1rem 0;
}

.alignleft {
	float: left;
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

.alignright {
	float: right;
}

/* =Wrapper
-------------------------------------------------------------- */
form {
	margin: 0 auto;
	width: 80%;
}

.image-display {
	float: left;
	position: relative;
	width: 60%;
	height: 800px;
	overflow: hidden;
}

img {
	position: absolute;
	left: 0
	top: 0;
	display: block;
	width: 100%
}

.controls {
	float: right;
	width: 34%;
	margin: 1rem 0;
	padding: 0 2%;
	border: 1px solid #ddd;
	background: #fafafa;

}

.error {
	border: 1px dotted #dc5e64;
	color: #333;
	background: #fde7e8;
	padding: 5px 10px;
	padding: 0.5rem 1rem;
}

/* =File input field
-------------------------------------------------------------- */
input[type=file] {
}
